body {
  font-family: "Helvetica", 'arial', sans-serif;
  font-weight: 200;
}

.Wallop {
  .Wallop-item {
    max-height: 100vh;
    overflow: hidden;
    right: 0;
    img {
      height: auto;
      min-width: 100vw;
    }
  }
}

.content {
  background: #ff7;
  height: calc(100% - 80px);
  left: 0;
  min-width: 425px;
  padding: 40px 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: calc(100%/3);
  z-index: 10;

  .logo { height: auto; margin: auto auto 40px; max-width: 100%; }
  h1 {
    font-weight: 200;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
}
